@model FirstWebApp.Models.Test1
@{
    ViewBag.Title = "GetEmployeeById";
}

<h2>GetEmployeeById</h2>
<table>
    <tr>
        <td>id</td>
        <td>@Html.DisplayFor(Model => Model.EmpId)</td>
    </tr>
    <tr>
        <td>id</td>
        <td>@Html.DisplayFor(Model => Model.EmpName)</td>
    </tr>
    <tr>
        <td>id</td>
        <td>@Html.DisplayFor(Model => Model.EmpPhoneNumber)</td>
    </tr>
    <tr>
        <td>id</td>
        <td>@Html.DisplayFor(Model => Model.EmpProjectId)</td>
    </tr>
</table>